.pasteDiv {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    padding: 2em;
    border: 1px solid #bbb;
    border-radius: 5px;
}
.pasteDiv:focus-within {
    background-color: rgb(221, 221, 221);
}

pre {
    background-color: #000;
    padding: 10px;
}

.string {
    color: lightgreen;
}

.number {
    color: darkorange;
}

.boolean {
    color: lightblue;
}

.null {
    color: magenta;
}

.key {
    color: lightcoral;
}